on:
  push:
    branches: main
  pull_request:
    branches: main
  merge_group:

name: ci

jobs:
  ci:
    uses: cynkra/blockr.ci/.github/workflows/ci.yaml@main
    with:
      revdep-packages: |
        BristolMyersSquibb/blockr.dag
    secrets: inherit
    permissions:
      contents: write
